{
  "hosts": [
    {
      "nqn": "{{ hostnqn }}"
    }
  ],
  "ports": [
    {
      "addr": {
        "adrfam": "ipv4",
        "traddr": "0.0.0.0",
        "treq": "not specified",
        "trsvcid": "4420",
        "trtype": "tcp",
        "tsas": "none"
      },
      "ana_groups": [
        {
          "ana": {
            "state": "optimized"
          },
          "grpid": 1
        }
      ],
      "param": {
        "inline_data_size": "16384",
        "pi_enable": "0"
      },
      "portid": 0,
      "referrals": [],
      "subsystems": [
        "{{ subsysnqn }}"
      ]
    }
  ],
  "subsystems": [
    {
      "allowed_hosts": [
        "{{ allowed_hosts }}"
      ],
      "attr": {
        "allow_any_host": "0",
        "cntlid_max": "65519",
        "cntlid_min": "1",
        "firmware": "yada",
        "ieee_oui": "0x000000",
        "model": "Linux",
        "pi_enable": "0",
        "qid_max": "128",
        "serial": "0c74361069d9db6c65ef",
        "version": "1.3"
      },
      "namespaces": [
        {
          "ana": {
            "grpid": "1"
          },
          "ana_grpid": 1,
          "device": {
            "nguid": "00000000-0000-0000-0000-000000000000",
            "path": "{{ blkdev }}",
            "uuid": "{{ subsys_uuid }}"
          },
          "enable": 1,
          "nsid": 1
        }
      ],
      "nqn": "{{ subsysnqn }}"
    }
  ]
}
